<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @contact_information.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact_information.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact_information.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @contact_information.zipCode %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @contact_information.phoneNumber %>
</p>

<%= link_to 'Edit', edit_contact_information_path(@contact_information) %> |
<%= link_to 'Back', contact_informations_path %>
